.item {
  background: $white;
  border: 1px solid $grey;
  margin-bottom: $s-size;
  padding: $s-size;
}

.item__message {
  font-size: $s-size;
  font-style: italic;
  font-weight: $s-weight;
  text-align: center;
}

.item--position-1 {
  background: $green;
  border-color: $green-alt;
}
.item--position-2 {
  background: $blue;
  border-color: $blue-alt;
}
.item--position-3 {
  background: $red;
  border-color: $red-alt;
}
